/*Default Css*/
.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

.App-header {
   background-color: black;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: #db545a;
}

/*photo*/
.u-image,
.u-background-effect-image,
.u-video-poster {
   object-fit: cover;
   display: block;
   background-size: cover;
   background-position: 50% 50%;
   background-repeat: no-repeat;
}

.u-image-circle,
.u-image {
   border-radius: 50% !important;
}

.u-section-1,
.u-image-1 {
   width: 386px;
   height: 386px;
   background-position: 20% 50%;
   margin: 31px auto 0;
}
/*paragraph*/
.u-align-justify {
   text-align: justify;
}

.u-text {
   word-wrap: break-word;
   position: relative;
}

.u-text-grey-40 {
   color: #999999;
}

.u-section-1,
.u-text-3 {
   font-weight: 300;
   line-height: 1.8;
   width: 739px;
   margin: 20px auto 0;
}
/*Title*/
.u-section-1,
.u-text-1 {
   font-size: 4.5rem;
   margin: 110px auto 0;
}

.u-font-merriweather,
.u-custom-font {
   font-family: Merriweather, serif !important;
}

.u-text-palette-2-base {
   color: #db545a !important;
}

.u-text-default {
   display: table;
   align-self: flex-start;
   width: 100%;
}
/*icons*/
.u-social-icons,
.u-social-url,
.u-social-icons,
.u-social-url:hover {
   color: currentColor;
}

.u-spacing-31 {
   margin-top: 32px;
   margin-bottom: 32px;
}

.u-social-icons {
   display: flex;
}

.u-section-1,
.u-social-icons-1 {
   height: 50px;
   min-height: 16px;
   min-width: 110px;
   margin: 31px auto 41px;
}
